<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
    <title>School and Back</title>
</head>

<body>
    <h1>SwooshTrafik</h1>
    <div id="app">
        <h2>Avgångar från {{stopName}}</h2>
        <form @submit.prevent="updateStop">
            <label for="stop-input">Skriv in en hållplats:</label>
            <input type="text" id="stop-input" v-model="userInput" />
            <button type="submit">Uppdatera</button>
        </form>
        <div v-if="departures[0].length">
            <h3>List 1:</h3>
            <ul>
                <li v-for="(departure, index) in departures[0]" :key="index">
                    {{departure.name}} avgår kl {{departure.departureTime}} om
                    {{departure.minutes}} minuter
                </li>
            </ul>
        </div>
        <div v-if="departures[1].length">
            <h3>List 2:</h3>
            <ul>
                <li v-for="(departure, index) in departures[1]" :key="index">
                    {{departure.name}} avgår kl {{departure.departureTime}} om
                    {{departure.minutes}} minuter
                </li>
            </ul>
        </div>
        <div v-if="departures[2].length">
            <h3>List 3:</h3>
            <ul>
                <li v-for="(departure, index) in departures[2]" :key="index">
                    {{departure.name}} avgår kl {{departure.departureTime}} om
                    {{departure.minutes}} minuter
                </li>
            </ul>
        </div>
    </div>
</body>
</html>